body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#prime-number {
    color: white;
    font-size: 100px;
    font-family: Arial, sans-serif;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}
